$bg-color:        #fff;
$bg-color-alt:    #f2f6f7;
$color-primary:   #00a3cc;
$color-secondary: #f25b5a;
$text-color:      #211e1f;

$ff-primary:      'freight-sans-pro', sans-serif ;
$ff-secondary:    'museo-sans', sans-serif ;