$bg-color:        #1c1f23;
$bg-color-alt:    #f2f6f7;
$color-primary:   #00a3cc;
$color-secondary: #f25b5a;
$text-color:      #211e1f;

$font-primary:    400 17px/65px 'freight-sans-pro', sans-serif;
$font-secondary:  400 15px/15px 'museo-sans', sans-serif;
$font-big:        300 62px/62px 'freight-sans-pro', sans-serif;
