@mixin border-radius($border-radius) {
  -webkit-border-radius:  $border-radius;
  border-radius:          $border-radius; }

@mixin transform($transform) {
  -webkit-transform:  $transform;
  transform:          $transform; }

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow:  $box-shadow;
  box-shadow:          $box-shadow;
}