/* Base
================================================== */
//Minimum reset http://www.vcarrer.com/2010/05/css-mini-reset.html
html, body, div, form, fieldset, legend, label {
 margin: 0;
 padding: 0; }

table {
 border-spacing: 0;
 border-collapse: collapse; }

th, td {
 vertical-align: top;
 text-align: left; }

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }



body {
  background: $bg-color;
  color: $text-color;
  font: $font-primary;
  -webkit-font-smoothing: antialiased; }

p {
  margin-top: 0;
}

a {
  color: $color-primary; }

.tac {
  width: 100%;
  text-align: center;
}

// .highlighted {
//   padding-bottom: 70px;
//   background: $bg-color-alt;
//   text-align: center;

//   p {
//     margin-bottom: 60px;
//     font-weight: 300;
//     font-size: 28px;
//     line-height: 40px;
//   }
//   @include clearfix;
// }

h1 {
  margin: 0 0 1px;
  text-transform: uppercase;
  font: $font-big; }

h2 {
  margin: 0;
  padding: 0;
  color: $text-color;
  font: $font-primary;
  font-size: 30px;

  &.underline:after {
    display: block;
    width: 150px; height: 2px;
    margin: 15px 0;
    background: $color-subtle;
    content: '';
  }

  &.subheader {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 26px;
  }
}

hr {
  display: inline-block;
  margin: 0;
  border: none;
}

