.data {
  padding: 50px 60px 40px;
  background: #101215;


}

.soundbar {
  padding: 0;
  display: table-cell;
  border-spacing:0;
  border-collapse:collapse;

  li {
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    margin-right: 0;
    border-radius: 3px;


    &:nth-child(1) { background: #0386a7; height: 40px; }
    &:nth-child(2) { background: #00a3cc; height: 50px; }
    &:nth-child(3) { background: #0386a7; height: 40px; }
    &:nth-child(4) { background: #0386a7; height: 40px; }
    &:nth-child(5) { background: #0386a7; height: 40px; }
    &:nth-child(6) { background: #0386a7; height: 40px; }
    &:nth-child(7) { background: #0386a7; height: 40px; }
  }

}