section.featured {
  @include wrap;
  padding-top: 292px;
  height: 811px;
  width: 100%;
  text-align: center;

  h1, h2 {
    color: #fff;
    padding: 0;
  }

  h1 {

    &:after {
      content:'';
      display: block;
      margin: 28px auto 30px;
      width: 130px;
      height: 2px;
      background: rgba(255, 255, 255, .2);
    }
  }


  a.down-arrow {
    margin-top: 31px;
    background-image: url(/images/down-arrow.png);
    width: 33px;
    height: 33px;
    display: inline-block;
  }

  .about & {
    background-image: url(/images/about-1.jpg);
  }
}