section.featured {
  @include wrap;
  padding-top: 292px;
  height: 811px;
  width: 100%;
  text-align: center;

  h1, h2 {
    padding: 0; }

  h1 { // create an arrow beneath

    &:after {
      content:'';
      display: block;
      margin: 28px auto 30px;
      width: 130px;
      height: 2px;
      background: rgba(255, 255, 255, .2);
    }
  }

  .down-arrow {
    margin-top: 30px; }

  .about & {
    background-image: url(/images/about-1.jpg); }

  .index & {
    background-image: url(/images/home-1.jpg);
  }
}