.tiles {
  list-style-type: none;
  padding: 0;

  @include clearfix;

  li {
    float: left;
    text-align: center;

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;

      img {
        display: block;
        border-radius: 3px;
      }
    }
  }
}

.large-tiles {
  margin: 100px 60px 50px;

  li {
    margin-right: 20px;
    margin-bottom: 30px;

    &:nth-child(4n+4) {
      margin-right: 0;
    }

    a {
      margin-bottom: 10px;

      img {
        margin-bottom: 30px;
      }
    }
  }
}