.timeline {
  @include wrap;
  padding: 20px 40px 30px;

  ul {
    position: relative;
    padding-left: 0;
    list-style-type: none;
    @media (min-width: 1220px) {
      left: 524px;
    }

    &:before{
      position: absolute;
      left:26px;
      z-index: -1;
      display: block;
      width: 2px;
      height: 100%;
      background: $color-subtle;
      content:'';
    }
  }

  li {
    margin: 0;
    padding: 0; }

  .year, .more {
    @include border-radius(52px);
    position: relative;
    display: block;
    padding: 14px 0 0 12px;
    width: 52px; height: 52px;
    border: 2px solid $color-subtle;
    background: $bg-color;
    font-weight: 700;
    font-size: 13px;
  }

  .year {
    margin-bottom: 40px;
  }

  .more {
    &:before, &:after {
      position: absolute;
      display: block;
      background: $color-subtle;
      content:''; }

    &:before { top: 16px;
      left: 24px;
      width: 2px; height: 16px;}

    &:after { top: 23px;
      left: 17px;
      width: 16px; height: 2px; }

    &:hover:before, &:hover:after {

    }
  }

  .event {
    @include clearfix;
    margin-bottom: 30px;

    &:before {
      display: block;
      float: left;
      margin-left: 3px;
      padding: 8px;
      width: 48px; height: 48px;
      background: $bg-color url('/images/timeline-item.png') no-repeat;
      background-position:center;
      content:''; }

    > .inner {
      @include border-radius(3px);
      position: relative;
      top: -5px;
      display: block;
      float: left;
      margin-left: 40px;
      max-width: 490px;
      background: #f0f2f4;

      &:before{
        position: absolute;
        top:24px; left: -8px;
        display: block; width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 8px solid $color-primary;
        border-bottom: 8px solid transparent;
        content:'';
      }
    }

    h3 {
      @include border-radius(3px 3px 0 0);
      margin: 0;
      padding: 25px;
      background: $color-primary; }

    p {
      margin-bottom: 0;
      padding: 25px 25px 15px 25px;
      color: #474b51;
      line-height: 24px; }

    .bottom {
      @include clearfix;
      padding: 0 25px 25px; }

    a.read-more, time {
      color: #828890;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px; }

    a.read-more:hover{
      color: darken(#828890, 7%); }

    time {
      float: right; }

    &.alternative h3 {
      background: #f25b5a; }

    &.alternative > .inner {
      left: -610px;

      &:before {
        top:24px; right: -8px; left: auto;
        border-top: 8px solid transparent;
        border-right: none;
        border-bottom: 8px solid transparent;
        border-left: 8px solid $color-secondary;
      }
    }
  }
}