/* Layout
================================================== */
/* line 5, _2.layout.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 27, _2.layout.scss */
.wrap {
  max-width: 1220px;
  margin: 0 auto; }

/* line 31, _2.layout.scss */
body > section {
  max-width: 1220px;
  margin: 0 auto; }

/* Base
================================================== */
/* line 4, _1.base.scss */
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; }

/* line 8, _1.base.scss */
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* line 12, _1.base.scss */
th, td {
  vertical-align: top;
  text-align: left; }

/* line 16, _1.base.scss */
h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal; }

/* line 18, _1.base.scss */
img {
  border: 0; }

/* line 21, _1.base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 25, _1.base.scss */
body {
  background: #1c1f23;
  color: white;
  font: 400 17px/1em "freight-sans-pro", sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 31, _1.base.scss */
p {
  margin-top: 0; }

/* line 35, _1.base.scss */
a {
  color: #00a3cc; }

/* line 38, _1.base.scss */
.tac {
  width: 100%;
  text-align: center; }

/* line 57, _1.base.scss */
h1 {
  margin: 0 0 1px;
  text-transform: uppercase;
  font: 300 62px/1em "freight-sans-pro", sans-serif; }

/* line 62, _1.base.scss */
h2 {
  margin: 0;
  padding: 0;
  color: white;
  font: 400 17px/1em "freight-sans-pro", sans-serif;
  font-size: 30px; }
  /* line 69, _1.base.scss */
  h2.underline:after {
    display: block;
    width: 150px;
    height: 2px;
    margin: 15px 0;
    background: #32363b;
    content: ''; }
    /* line 76, _1.base.scss */
    .tac h2.underline:after {
      margin: 15px auto; }
  /* line 84, _1.base.scss */
  h2.subheader {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 26px; }

/* line 92, _1.base.scss */
hr {
  display: inline-block;
  margin: 0;
  border: none; }

/* States
================================================== */
/* Themes
================================================== */
/* Buttons
================================================== */
/* line 5, modules/_btn.scss */
.btn {
  display: inline-block;
  padding: 14px 24px;
  border-radius: 25px;
  background: #00a3cc;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font: 700 15px/1em "museo-sans", sans-serif;
  cursor: pointer; }
  /* line 16, modules/_btn.scss */
  .btn.alt {
    background: #f25b5a; }
    /* line 19, modules/_btn.scss */
    .btn.alt:hover {
      background: #f14d4c; }
  /* line 24, modules/_btn.scss */
  .btn.subtle {
    background: rgba(255, 255, 255, 0.3); }
    /* line 27, modules/_btn.scss */
    .btn.subtle:hover {
      background: rgba(255, 255, 255, 0.4); }

/* line 1, modules/_tiles.scss */
.tiles {
  list-style-type: none;
  padding: 0; }
  /* line 13, _2.layout.scss */
  .tiles:before, .tiles:after {
    content: "";
    display: table; }
  /* line 17, _2.layout.scss */
  .tiles:after {
    clear: both; }
  /* line 7, modules/_tiles.scss */
  .tiles li {
    float: left;
    text-align: center; }
    /* line 11, modules/_tiles.scss */
    .tiles li a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold; }
      /* line 17, modules/_tiles.scss */
      .tiles li a img {
        display: block;
        border-radius: 3px; }

/* line 25, modules/_tiles.scss */
.large-tiles {
  margin: 100px 60px 50px; }
  /* line 28, modules/_tiles.scss */
  .large-tiles li {
    margin-right: 20px;
    margin-bottom: 30px; }
    /* line 32, modules/_tiles.scss */
    .large-tiles li:nth-child(4n+4) {
      margin-right: 0; }
    /* line 36, modules/_tiles.scss */
    .large-tiles li a {
      margin-bottom: 10px; }
      /* line 39, modules/_tiles.scss */
      .large-tiles li a img {
        margin-bottom: 30px; }

/* line 1, modules/_down-arrow.scss */
.down-arrow {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 33px; }
  /* line 9, modules/_down-arrow.scss */
  .down-arrow:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 10px;
    left: 10px;
    display: block;
    width: 9px;
    height: 9px;
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 4px 4px 0;
    content: ''; }
  /* line 20, modules/_down-arrow.scss */
  .down-arrow:hover, .down-arrow:hover:after {
    border-color: rgba(255, 255, 255, 0.4); }

/* line 1, modules/_timeline.scss */
.timeline {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 40px 30px; }
  /* line 5, modules/_timeline.scss */
  .timeline ul {
    position: relative;
    padding-left: 0;
    list-style-type: none; }
    @media (min-width: 1220px) {
      /* line 5, modules/_timeline.scss */
      .timeline ul {
        left: 524px; } }
    /* line 13, modules/_timeline.scss */
    .timeline ul:before {
      position: absolute;
      left: 26px;
      z-index: -1;
      display: block;
      width: 2px;
      height: 100%;
      background: #32363b;
      content: ''; }
  /* line 25, modules/_timeline.scss */
  .timeline li {
    margin: 0;
    padding: 0; }
  /* line 29, modules/_timeline.scss */
  .timeline .year, .timeline .more {
    -webkit-border-radius: 52px;
    border-radius: 52px;
    position: relative;
    display: block;
    padding: 14px 0 0 12px;
    width: 52px;
    height: 52px;
    border: 2px solid #32363b;
    background: #1c1f23;
    font-weight: 700;
    font-size: 13px; }
  /* line 41, modules/_timeline.scss */
  .timeline .year {
    margin-bottom: 40px; }
  /* line 46, modules/_timeline.scss */
  .timeline .more:before, .timeline .more:after {
    position: absolute;
    display: block;
    background: #32363b;
    content: ''; }
  /* line 52, modules/_timeline.scss */
  .timeline .more:before {
    top: 16px;
    left: 24px;
    width: 2px;
    height: 16px; }
  /* line 56, modules/_timeline.scss */
  .timeline .more:after {
    top: 23px;
    left: 17px;
    width: 16px;
    height: 2px; }
  /* line 65, modules/_timeline.scss */
  .timeline .event {
    margin-bottom: 30px; }
    /* line 13, _2.layout.scss */
    .timeline .event:before, .timeline .event:after {
      content: "";
      display: table; }
    /* line 17, _2.layout.scss */
    .timeline .event:after {
      clear: both; }
    /* line 69, modules/_timeline.scss */
    .timeline .event:before {
      display: block;
      float: left;
      margin-left: 3px;
      padding: 8px;
      width: 48px;
      height: 48px;
      background: #1c1f23 url("/images/timeline-item.png") no-repeat;
      background-position: center;
      content: ''; }
    /* line 79, modules/_timeline.scss */
    .timeline .event > .inner {
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: relative;
      top: -5px;
      display: block;
      float: left;
      margin-left: 40px;
      max-width: 490px;
      background: #f0f2f4; }
      /* line 89, modules/_timeline.scss */
      .timeline .event > .inner:before {
        position: absolute;
        top: 24px;
        left: -8px;
        display: block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 8px solid #00a3cc;
        border-bottom: 8px solid transparent;
        content: ''; }
    /* line 101, modules/_timeline.scss */
    .timeline .event h3 {
      -webkit-border-radius: 3px 3px 0 0;
      border-radius: 3px 3px 0 0;
      margin: 0;
      padding: 25px;
      background: #00a3cc; }
    /* line 107, modules/_timeline.scss */
    .timeline .event p {
      margin-bottom: 0;
      padding: 25px 25px 15px 25px;
      color: #474b51;
      line-height: 24px; }
    /* line 113, modules/_timeline.scss */
    .timeline .event .bottom {
      padding: 0 25px 25px; }
      /* line 13, _2.layout.scss */
      .timeline .event .bottom:before, .timeline .event .bottom:after {
        content: "";
        display: table; }
      /* line 17, _2.layout.scss */
      .timeline .event .bottom:after {
        clear: both; }
    /* line 117, modules/_timeline.scss */
    .timeline .event a.read-more, .timeline .event time {
      color: #828890;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px; }
    /* line 123, modules/_timeline.scss */
    .timeline .event a.read-more:hover {
      color: #70767e; }
    /* line 126, modules/_timeline.scss */
    .timeline .event time {
      float: right; }
    /* line 129, modules/_timeline.scss */
    .timeline .event.alternative h3 {
      background: #f25b5a; }
    /* line 132, modules/_timeline.scss */
    .timeline .event.alternative > .inner {
      left: -610px; }
      /* line 135, modules/_timeline.scss */
      .timeline .event.alternative > .inner:before {
        top: 24px;
        right: -8px;
        left: auto;
        border-top: 8px solid transparent;
        border-right: none;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #f25b5a; }

/* line 1, modules/_data.scss */
.data {
  padding: 50px 60px 40px;
  background: #101215; }

/* line 8, modules/_data.scss */
.soundbar {
  padding: 0;
  display: table-cell;
  border-spacing: 0;
  border-collapse: collapse; }
  /* line 14, modules/_data.scss */
  .soundbar li {
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    margin-right: 0;
    border-radius: 3px; }
    /* line 22, modules/_data.scss */
    .soundbar li:nth-child(1) {
      background: #0386a7;
      height: 40px; }
    /* line 23, modules/_data.scss */
    .soundbar li:nth-child(2) {
      background: #00a3cc;
      height: 50px; }
    /* line 24, modules/_data.scss */
    .soundbar li:nth-child(3) {
      background: #0386a7;
      height: 40px; }
    /* line 25, modules/_data.scss */
    .soundbar li:nth-child(4) {
      background: #0386a7;
      height: 40px; }
    /* line 26, modules/_data.scss */
    .soundbar li:nth-child(5) {
      background: #0386a7;
      height: 40px; }
    /* line 27, modules/_data.scss */
    .soundbar li:nth-child(6) {
      background: #0386a7;
      height: 40px; }
    /* line 28, modules/_data.scss */
    .soundbar li:nth-child(7) {
      background: #0386a7;
      height: 40px; }

/* line 1, modules/_social.scss */
.social {
  margin-top: 100px; }
  /* line 4, modules/_social.scss */
  .social h2.underline:after {
    width: 100px; }
  /* line 8, modules/_social.scss */
  .social ul.icons {
    margin: 60px 60px 160px;
    list-style-type: none;
    padding: 0; }
    /* line 13, modules/_social.scss */
    .social ul.icons li {
      display: inline-block;
      margin-right: 158px; }
      /* line 16, modules/_social.scss */
      .social ul.icons li:last-child {
        margin-right: 0; }
      /* line 18, modules/_social.scss */
      .social ul.icons li a {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 90px;
        border: 2px solid #32363b; }
        /* line 24, modules/_social.scss */
        .social ul.icons li a:after {
          display: block;
          width: 32px;
          height: 32px;
          margin: 29px;
          background: url(/images/social-icon.png);
          content: ''; }
        /* line 31, modules/_social.scss */
        .social ul.icons li a:hover {
          border: 2px solid #3f729b;
          background: #3f729b; }
          /* line 35, modules/_social.scss */
          .social ul.icons li a:hover:after {
            background: url(/images/social-icon-hover.png); }

/* line 1, modules/_short-sweet.scss */
.short-sweet {
  background: url(/images/about-2.jpg);
  height: 745px; }
  /* line 4, modules/_short-sweet.scss */
  .short-sweet .inner {
    background: rgba(12, 14, 16, 0.95);
    padding: 50px 60px 40px; }
    /* line 13, _2.layout.scss */
    .short-sweet .inner:before, .short-sweet .inner:after {
      content: "";
      display: table; }
    /* line 17, _2.layout.scss */
    .short-sweet .inner:after {
      clear: both; }
  /* line 9, modules/_short-sweet.scss */
  .short-sweet p {
    line-height: 24px;
    float: left;
    width: 46%;
    margin-right: 8%; }
    /* line 15, modules/_short-sweet.scss */
    .short-sweet p:last-child {
      margin-right: 0; }

/* line 3, modules/_header-footer.scss */
body > header, body > footer {
  padding: 20px 40px 0;
  width: 100%;
  height: 83px;
  text-align: center;
  font: 700 15px/1em "museo-sans", sans-serif; }
  /* line 13, _2.layout.scss */
  body > header:before, body > header:after, body > footer:before, body > footer:after {
    content: "";
    display: table; }
  /* line 17, _2.layout.scss */
  body > header:after, body > footer:after {
    clear: both; }
  /* line 12, modules/_header-footer.scss */
  body > header a.logo, body > footer a.logo {
    display: inline-block;
    padding: 8px 0;
    width: 80px; }
  /* line 18, modules/_header-footer.scss */
  body > header .btn, body > footer .btn {
    float: right; }

/* line 23, modules/_header-footer.scss */
nav {
  float: left; }
  /* line 26, modules/_header-footer.scss */
  nav a {
    display: inline-block;
    margin-right: 40px;
    padding: 15px 3px 15px 0;
    color: white;
    text-decoration: none; }
    /* line 34, modules/_header-footer.scss */
    nav a:hover, nav a.current {
      color: #00a3cc; }
    /* line 38, modules/_header-footer.scss */
    nav a:last-child {
      margin-right: 0; }

/* line 45, modules/_header-footer.scss */
span.copyright {
  float: right;
  padding: 15px 3px 15px 0;
  color: white; }

/* line 1, modules/_featured.scss */
section.featured {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 292px;
  height: 811px;
  width: 100%;
  text-align: center; }
  /* line 8, modules/_featured.scss */
  section.featured h1, section.featured h2 {
    padding: 0; }
  /* line 13, modules/_featured.scss */
  section.featured h1:after {
    content: '';
    display: block;
    margin: 28px auto 30px;
    width: 130px;
    height: 2px;
    background: rgba(255, 255, 255, 0.2); }
  /* line 23, modules/_featured.scss */
  section.featured .down-arrow {
    margin-top: 30px; }
  /* line 26, modules/_featured.scss */
  .about section.featured {
    background-image: url(/images/about-1.jpg); }
  /* line 29, modules/_featured.scss */
  .index section.featured {
    background-image: url(/images/home-1.jpg); }
