---
title: Victor Erixon | Portfolio
---
section

section.featured
  .tac
    h1 I’m Victor
    h2.subheader Visual designer from Stockholm, Sweden.
    a.down-arrow href="#portfolio"

section

  ul.tiles.large-tiles
    - 8.times do
      li
        a href="#link-to-project"
          img src="#{lorem.image('250x250', :random_color => true, :text => ' ')}"
          span Mochila mail
        span iOS
